#imagemperfil {
    border-radius: 180px;
}

.divcentralizado{
text-align: center;    
}

.divtexto{
    padding-left: 20px;
    padding-top: 10px;
    background-color: bisque;
}
label{
    padding-bottom: 10px ;
}
h1{
    background-color: rgba(155, 155, 196, 0.575);
}

.textodiv{
text-align: center;
}

  h2{
       background-color: rgba(65, 65, 238, 0.699);
}

.inputsminhatela {
    width: 50%;
}
    

     